<h1>What is TypeScript?</h1>
<ul>
  <li>
    Extends JavaScript:
    <ul>
      <li>Standard Types: string, number</li>
      <li>Tuples</li>
      <li>Enums</li>
      <li>`Any` Type</li>
      <li>Nullable Types</li>
    </ul>
  </li>
  <li>Statically typed.</li>
  <li>Strongly typed - with type inference. </li>
  <li>
    Gives access to new features:
    <ul>
      <li>Classes</li>
      <li>Interfaces</li>
      <li>Namespaces / Modules</li>
      <li>Union types</li>
    </ul>
  </li>
  <li>
    Transpiled to Vanilla Javascript
    <ul>Allows developers to use new features while targeting previous versions of JavaScript.</ul>
  </li>
</ul>

<h1>Why use TypeScript?</h1>
<ul>
  <li>QOL Improvements
    <ul>
      <li>Code completion / assist</li>
      <li>Compile time errors, faster feedback cycle</li>
      <li>Syntactical sugar - C# inspired</li>
    </ul>
  </li>
  <li>
    Community Support
    <ul>
      <li>Created by Microsoft</li>
      <li>Adopted by Google for Angular</li>
      <li>Definition libraries - .d.ts files for most javascript libraries</li>
    </ul>
  </li>
</ul>
