<h1>Setting Up TypeScript</h1>
<ol>
  <li>Install <a href="https://nodejs.org/en/download/">Node/NPM</a></li>
  <li>
    Install TypeScript globally
    <ul>
      <li>
        <pre>npm install -g typescript</pre>
      </li>
    </ul>
  </li>
  <li>Customize .tsconfig
    <ul>
      <li>Include / exclude files</li>
      <li>Change output directory / concat files</li>
      <li>Choose optional features</li>
      <li>Choose optional modules</li>
      <li>Choose JavaScript target version</li>
    </ul>
    </li>
  <li>Create or rename .ts files</li>
  <li>Compiled on save / project build</li>

</ol>
